[submodule ".registry"]
	path = .registry
	url = https://github.com/centerconflictcooperation/centerconflictcooperation.r-universe.dev
	branch = HEAD
[submodule "nalanda"]
	path = nalanda
	url = https://github.com/centerconflictcooperation/nalanda
